@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    background-color: aquamarine;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
main{
    background-color: grey;
    border-radius: 10px;
    border: 30px;

}
section#login > div#imagem{ 

    background: url(../imagens/pexels-guiirossi-1755695.jpg) no-repeat; 
    background-size: cover;
    height: 200px;
}
#login{
    padding: 20px;
    width: 500px;

}
h1{
    text-align: center;
}